.App {
  text-align: center;
}
.img {
  height: 150px;
  width: 150x;
  float: right;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#transcript{
  /* keeps click me button aligned in navbar */
  margin-top: -1px;  
}

.button1{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  font-size:15px;
  background-color:#535FD7;
  border-color:#535FD7;
  color: white;
  

}

.button1:hover{
  transition: all 0.5s ease;
  color:#535FD7;
  background-color: white;
  border-color:#535FD7;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
